@page "/country"

@inject IRepository Repostory
<h3>CountriesIndex</h3>
<a class="btn btn-sm btn-primary float-end" href="/countries/create"> Add Country</a>
<GenericList MyList="Countries">
   
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>
                            <a class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                        <td>
                            @country.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>

@code {
    public List<Country>? Countries { get; set; }

    protected override async Task OnInitializedAsync()
    {      
        
        var responsehttp = await Repostory.Get<List<Country>>("/api/countries");
        Countries = responsehttp.Response!;
    }
}